// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

$van-cleef-950: #4d1300;
$van-cleef-900: #882b06;
$van-cleef-800: #aa3102;
$van-cleef-700: #d73e00;
$van-cleef-600: #ff5800;
$van-cleef-500: #ff7600;
$van-cleef-400: #ff9726;
$van-cleef-300: #ffbf64;
$van-cleef-200: #ffdba0;
$van-cleef-100: #ffefd0;
$van-cleef-50: #fff8eb;
$black-color: #222222;
$white-color: #ffffff;
$error-color: #ff3333;
// $Lato: "Lato", serif;
$Lato: "Lexend", serif;
$box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box !important;
}

body {
  background-color: #f6f7fa;
  font-family: $Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;

  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  p {
    margin: 0px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin: 0px;
  }

  picture {
    display: block;
  }
}

button {
  outline: none !important;
  border: none !important;
  border: none !important;
}

.error {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  color: $error-color;
  padding-left: 10px;
}

.btn-custom {
  background-color: $van-cleef-600;
  color: $white-color;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 40px;
  text-decoration: none;
  font-family: $Lato;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s;

  &.disabled {
    background-color: $van-cleef-600;
    color: $white-color;
  }

  &:hover,
  &:focus {
    background-color: $van-cleef-700;
    color: $white-color;
  }
}

.custom-select {
  background-color: $van-cleef-50;
  border-radius: 26px;
  padding: 12px 18px;
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  // color: rgba($color: $van-cleef-600, $alpha: 0.55);
  color: $van-cleef-950;
  cursor: pointer;

  .select-list {
    transition: 0.3s;
    // width: 33.33%;
    flex: 0 0 calc(33.33% - 5px);
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid $van-cleef-600;
    color: $van-cleef-600;
    &:hover {
      color: $white-color;
      // border-radius: 30px;
      background-color: $van-cleef-600;
      border: 1px solid $van-cleef-600;
    }
  }

  &.custom-select-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 12px 14px;
  }
}

.custom-filter-select {
  background-color: $van-cleef-50;
  border-radius: 26px;
  padding: 12px 18px;
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  // color: rgba($color: $van-cleef-600, $alpha: 0.55);
  color: $van-cleef-950;
  cursor: pointer;

  &.custom-filter-select-wrapper {
    height: 160px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 2px;
      border-radius: 2px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #e8e8e8;
    }

    &::-webkit-scrollbar-thumb {
      background: $van-cleef-600;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $van-cleef-600;
    }
  }
}

.update-profile-wrapper {
  .title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: $van-cleef-950;
    font-weight: 600;
    @media (max-width: 991px) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: $van-cleef-950;
    font-weight: 400;
    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .upload-profile-img {
    max-width: 400px;
    height: auto;
    aspect-ratio: 1 / 1;

    @media (max-width: 991px) {
      max-width: 300px;
    }
  }
}

.login-section {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;

  #bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin-top: 1px;
    margin-bottom: -7px;

    &::-webkit-media-controls {
      display: none !important;
    }
  }

  .video-overlay {
    position: absolute;
    content: "";
    background-color: rgba($color: $van-cleef-600, $alpha: 0.3);
    top: 0;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 100%;

    .video-overlay-content {
      height: 100%;
      width: 550px;
      display: flex;
      align-items: center;
      padding: 50px;
      background-color: #ffffff;

      .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;

        .nav-tabs {
          border: none;

          .nav-item {
            .nav-link {
              background-color: transparent;
              color: $van-cleef-600;
              text-transform: capitalize;
              cursor: pointer;
              border-radius: 30px;
              padding: 8px 40px;
              text-decoration: none;
              font-family: $Lato;
              font-weight: 500;
              font-size: 14px;
              transition: 0.3s;
              text-transform: capitalize;
              border-color: $van-cleef-600;
              &:hover,
              &:focus {
                background-color: $van-cleef-600;
                color: $white-color;
              }
              &.active {
                background-color: $van-cleef-600;
                color: $white-color;
              }
            }
          }
        }

        label {
          color: $van-cleef-950;
          font-family: $Lato;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          text-transform: capitalize;
          margin-left: 10px;
        }

        .form-control {
          box-shadow: none;
          border: none;
          background-color: $van-cleef-50;
          border-radius: 0px;
          padding: 12px 18px;
          font-family: $Lato;
          font-weight: 400;
          font-size: 14px;
          color: $van-cleef-950;

          &.form-details {
            border-radius: 26px;
          }

          &.form-password {
            border-top-left-radius: 26px;
            border-bottom-left-radius: 26px;
            border-right: $van-cleef-50;
          }

          &::placeholder {
            color: $van-cleef-950;
            font-size: 14px;
            text-transform: capitalize;
          }
        }

        .eye-icon {
          background-color: $van-cleef-50;
          padding: 11px 14px 10px;
          border-top-right-radius: 26px;
          border-bottom-right-radius: 26px;
          cursor: pointer;
          img {
            width: 20px;
          }
        }
      }
    }

    .logo-wrapper {
      width: 180px;
      height: 60px;
    }

    .title {
      font-size: 28px;
      line-height: 30px;
      text-transform: uppercase;
      font-weight: 600;
      color: $van-cleef-950;
      font-family: $Lato;
      letter-spacing: 1px;
      text-align: center;
    }

    .subtitle {
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
      color: $van-cleef-950;
      font-family: $Lato;
      text-align: center;
    }
  }
}

.navbar-section {
  background-color: $van-cleef-600;
  padding: 5px 0px 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;

      .menu-list {
        display: flex;
        flex-direction: row;
        gap: 25px;

        @media (max-width: 767px) {
          display: none;
        }

        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 8px;
          .menu-icon {
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            img {
              aspect-ratio: 1/1;
              width: 16px;
              height: auto;
              flex-shrink: 0;
            }
          }
          a {
            text-decoration: none;
            font-family: $Lato;
            font-weight: 300;
            font-size: 16px;
            color: $white-color;
          }

          .notification-text {
            text-decoration: none;
            font-family: $Lato;
            font-weight: 300;
            font-size: 16px;
            color: $white-color;
          }

          .notification-count {
            width: 18px;
            height: 18px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            background-color: $white-color;
            font-size: 12px;
            font-weight: 300;
          }
        }
      }

      .dropdown-menu-section {
        position: relative;
        display: inline-block;

        .avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          aspect-ratio: 1/1;
          border-radius: 100%;
          font-family: $Lato;
          font-weight: 300;
          font-size: 20px;
          overflow: hidden;
          &:hover {
            cursor: pointer;
          }

          .user-profile-img {
            aspect-ratio: 1/1;
            height: 48px;
            width: auto;
          }
        }

        .chevron-down {
          width: 14px;
          height: auto;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #fafafa;
          min-width: 250px;
          box-shadow: $box-shadow;
          z-index: 1;
          top: 62px;
          left: 0%;
          transform: translateX(-73%);
          padding: 12px;
          border-radius: 10px;
          transition: opacity 0.3s ease, visibility 0.3s ease;

          &.dropdown-content-block {
            display: block;
            opacity: 1;
            visibility: visible;
          }

          &.dropdown-content-hidden {
            opacity: 0;
            visibility: hidden;
          }

          &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent $white-color transparent;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: -13px;
            // left: 0;
            right: 28px;
            // margin: 0 auto;
          }
        }

        @media (min-width: 768px) {
          &:hover {
            .dropdown-content {
              display: block;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }

  .logo-section {
    .logo {
      width: 180px;
      height: 60px;
      border: 1px solid $white-color;
      cursor: pointer;
    }
  }
}

.sidemenu-content-wrapper {
  overflow-y: auto;
  height: 100%;
  padding: 1px;
  &::-webkit-scrollbar {
    width: 2px;
    border-radius: 2px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #e8e8e8;
  }

  &::-webkit-scrollbar-thumb {
    background: $van-cleef-600;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $van-cleef-600;
  }
}

.sidemenu-content {
  padding: 15px;
  background-color: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.sidemenu-content,
.dropdown-content {
  .user-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    border-bottom: 1px solid rgba(152, 152, 152, 0.2);
    padding-bottom: 15px;

    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      aspect-ratio: 1/1;
      border-radius: 100%;
      font-family: $Lato;
      font-weight: 300;
      font-size: 20px;
      overflow: hidden;
      &:hover {
        cursor: pointer;
      }

      .user-profile-img {
        aspect-ratio: 1/1;
        height: 48px;
        width: auto;
      }
    }

    .greeting {
      font-size: 14px;
      font-weight: 600;
      color: $van-cleef-950;
    }

    .user-name {
      font-size: 18px;
      font-weight: 700;
      color: $van-cleef-950;
    }

    .user-id {
      font-size: 14px;
      font-weight: 400;
      color: $van-cleef-600;
    }
    .membership-detsils {
      font-size: 14px;
      font-weight: 600;
      color: $van-cleef-950;

      span {
        color: $van-cleef-500;
      }
    }
    .paid-member-title {
      font-size: 14px;
    }
    .profile-view {
      font-size: 14px;
      text-transform: capitalize;
      color: $van-cleef-950;
      span {
        font-weight: 600;
        color: $van-cleef-950;
      }

      a {
        text-decoration: underline;
        color: $van-cleef-950;

        &:hover {
          color: $van-cleef-600;
        }
      }
    }
    .btn-custom {
      padding: 6px 18px;
      font-size: 14px;
    }
  }

  .menu-details-wrapper,
  .mobile-menu,
  .menu-footer-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .mobile-menu {
    border-bottom: 1px solid rgba(152, 152, 152, 0.2);
    padding-bottom: 15px;
  }
  .menu-footer-wrapper {
    border-top: 1px solid rgba(152, 152, 152, 0.2);
    padding-bottom: 0px;
  }
  .dropdown-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      .menu-icon {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        img {
          aspect-ratio: 1/1;
          width: 16px;
          height: auto;
        }
      }
      a {
        text-decoration: none;
        font-family: $Lato;
        font-weight: 400;
        font-size: 14px;
        color: $van-cleef-950;
        transition: 0.3s;
        &:hover {
          color: $van-cleef-600;
        }
      }
      .notification-count {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        background-color: $van-cleef-950;
        font-size: 10px;
        font-weight: 300;
        color: $white-color;
      }
    }
  }
}

.dropdown-notification {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .dropdown-notification-content {
    display: none;
    position: absolute;
    background-color: #fafafa;
    min-width: 250px;
    box-shadow: $box-shadow;
    z-index: 1;
    top: 35px;
    left: 30%;
    transform: translateX(-70%);
    padding: 12px;
    border-radius: 10px;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 15px 15px 15px;
      border-color: transparent transparent $white-color transparent;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: -13px;
      // left: 0;
      right: 28px;
      // margin: 0 auto;
    }

    &.dropdown-content-block {
      display: block;
      opacity: 1;
      visibility: visible;
    }

    &.dropdown-content-hidden {
      opacity: 0;
      visibility: hidden;
    }

    .dropdown-notification-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &:hover {
    .dropdown-notification-content {
      display: block;
    }
  }
}

.dropdown-notification-details {
  cursor: pointer;
  .notification-profile-section {
    box-shadow: $box-shadow;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    .notification-profile-img {
      width: auto;
      height: 40px;
    }
  }
  .notification-profile-text {
    font-size: 14px;
    line-height: 16px;
    color: $van-cleef-950;
    font-weight: 300;

    span {
      color: $van-cleef-600;
      font-weight: 500;
    }
  }
}

.main-wrapper {
  height: 100vh;

  .container {
    height: 100vh;

    .content-wrapper {
      margin-top: 70px;
      padding-top: 10px;
    }
  }
  &.right-panel {
    .main-section {
      margin: 0px 280px;
      overflow-y: auto;
      height: calc(100vh - 80px);
      box-sizing: border-box;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding-right: 20px;

      @media (max-width: 1023px) {
        margin: 0px 0px 0px 280px;
        padding-right: 1px;
      }

      @media (max-width: 767px) {
        margin: 0px 0px;
        padding: 0px 1px 0px;
      }
      .profile-listing-container {
        .profile-list-container {
          .profile-list-item {
            .profile-image-wrapper {
              width: 180px;
            }
          }
        }
      }
    }
    .right-section {
      position: absolute;
      top: 0;
      right: 0;
      width: 280px;
      height: calc(100vh - 90px);
      padding: 10px 1px 0px;

      @media (max-width: 1023px) {
        display: none;
      }

      .right-section-content {
        padding: 1px 1px 1px;
        overflow-y: auto;
        height: 100%;

        &::-webkit-scrollbar {
          width: 2px;
          border-radius: 2px;
          height: 10px;
        }

        &::-webkit-scrollbar-track {
          background: #e8e8e8;
        }

        &::-webkit-scrollbar-thumb {
          background: $van-cleef-600;
          border-radius: 2px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: $van-cleef-600;
        }

        .right-content-wrapper {
          display: flex;
          flex-direction: column;
          gap: 15px;
          background-color: #fafafa;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          padding: 15px;
          border-radius: 10px;

          .right-section-content-title {
            font-size: 16px;
            line-height: 18px;
            color: $van-cleef-950;
            font-weight: 500;
            position: relative;
            padding: 6px 2px 6px;
            border-bottom: 1px solid rgba(152, 152, 152, 0.2);
            background-color: #fafafa;

            &::after {
              content: "";
              width: 40px;
              height: 1px;
              display: inline-block;
              background: $van-cleef-600;
              margin: 4px 5px 4px;
            }
          }
          .similar-profiles-section {
            cursor: pointer;
            text-decoration: none;
            padding: 0px 2px 0;
            &:hover {
              .similar-profile-text {
                span.profile-name {
                  color: $van-cleef-600;
                }
              }
            }
            .similar-profile-section {
              box-shadow: $box-shadow;
              width: 60px;
              height: 60px;
              border-radius: 5px;
              overflow: hidden;
              .similar-profile-img {
                width: auto;
                height: 60px;
              }
            }
            .similar-profile-text {
              font-size: 14px;
              line-height: 16px;
              // color: $van-cleef-950;
              font-weight: 300;
              display: flex;
              flex-direction: column;
              gap: 4px;

              span.profile-name {
                color: $van-cleef-950;
                font-weight: 500;
                display: block;
                transition: 0.3s;
              }
              span.profile-age {
                font-size: 14px;
                line-height: 16px;
                color: $van-cleef-950;
                font-weight: 400;
                display: block;
              }
              span.profile-location {
                font-size: 12px;
                line-height: 14px;
                color: $van-cleef-950;
                font-weight: 300;
                display: block;
              }
            }
          }
        }
      }

      .right-filter-wrapper {
        // overflow-y: auto;
        height: 100%;
        .filter-section {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 15px;
          height: 100%;
          background-color: #fafafa;
          // box-shadow: 0 0 6px #00000029;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          padding: 15px;
          border-radius: 10px;

          .right-section-content-title {
            font-size: 16px;
            line-height: 18px;
            color: $van-cleef-950;
            font-weight: 500;
            position: relative;
            padding: 6px 2px 6px;
            border-bottom: 1px solid rgba(152, 152, 152, 0.2);
            background-color: #fafafa;

            &::after {
              content: "";
              width: 40px;
              height: 1px;
              display: inline-block;
              background: $van-cleef-600;
              margin: 4px 5px 4px;
            }
          }

          .btn-custom {
            padding: 6px 18px;
            font-size: 14px;
          }

          .filter-section-wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
            overflow-y: auto;
            height: calc(100vh - 40px);

            &::-webkit-scrollbar {
              width: 2px;
              border-radius: 2px;
              height: 10px;
            }

            &::-webkit-scrollbar-track {
              background: #e8e8e8;
            }

            &::-webkit-scrollbar-thumb {
              background: $van-cleef-600;
              border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb:hover {
              background: $van-cleef-600;
            }
          }

          .filter-details-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .title {
              font-size: 14px;
              line-height: 16px;
              color: $van-cleef-950;
              font-weight: 500;
              // position: relative;

              // &::after {
              //   content: "";
              //   width: 40px;
              //   height: 1px;
              //   display: inline-block;
              //   background: $van-cleef-600;
              //   margin: 4px 5px 4px;
              // }
            }

            .filter-wrapper {
              display: flex;
              flex-direction: row;
              gap: 5px;
              // padding: 5px 0px;
              padding-bottom: 10px;
              border-bottom: 1px solid rgba(152, 152, 152, 0.2);
              > div {
                flex: 1;
              }
              .filter-result,
              .filter-title {
                font-size: 14px;
                line-height: 16px;
                color: $van-cleef-950;
                font-weight: 300;
              }

              .filter-title {
                color: $van-cleef-600;
                font-weight: 300;
              }

              .filter-result {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 6px;
                padding-right: 5px;
                text-align: right;
                img {
                  width: 12px;
                  height: 12px;
                }
              }
            }
          }
        }

        // &::-webkit-scrollbar {
        //   width: 2px;
        //   border-radius: 2px;
        //   height: 10px;
        // }

        // &::-webkit-scrollbar-track {
        //   background: #e8e8e8;
        // }

        // &::-webkit-scrollbar-thumb {
        //   background: $van-cleef-600;
        //   border-radius: 2px;
        // }

        // &::-webkit-scrollbar-thumb:hover {
        //   background: $van-cleef-600;
        // }
      }
    }
  }

  .left-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    // overflow-y: auto;
    // -ms-overflow-style: none;
    // scrollbar-width: none;
    height: calc(100vh - 90px);
    padding: 10px 1px 0px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .main-section {
    margin-left: 280px;
    overflow-y: auto;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0px 1px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 1023px) {
      margin: 0px 0px 0px 280px;
    }

    @media (max-width: 767px) {
      margin: 0px 0px;
      padding: 0px 0px 20px 0px;
    }
  }
}

.daily-limit-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background-color: $van-cleef-100;
  gap: 15px;
  // box-shadow: 0 0 6px #00000029;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;

  .user-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    font-family: $Lato;
    color: $van-cleef-600;
  }

  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-family: $Lato;
    color: $van-cleef-950;
    max-width: 500px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    font-family: $Lato;
    color: $van-cleef-950;
    max-width: 450px;
  }

  .daily-limit-alert-img {
    max-width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;

    @media (max-width: 767px) {
      max-width: 200px;
    }
  }
}

.profile-listing-container {
  padding: 0px 2px 0;
  .profile-list-container {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 20px;
    // justify-content: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    grid-auto-rows: minmax(180px, auto);

    @media (max-width: 1399px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .profile-list-item {
      border: 1px solid #fafafa;
      flex: 1 1 calc(50% - 20px);
      box-sizing: border-box;
      border-radius: 10px;
      background-color: #fafafa;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: 0.3s;
      overflow: hidden;
      display: flex;
      align-items: center;
      position: relative;

      @media (max-width: 1399px) {
        // flex: 1 1 100%;
        // margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0px;
        }
      }

      @media (max-width: 767px) {
        display: block;
        width: 100%;
        height: calc(100vh - 90px);
      }

      .profile-image-wrapper {
        aspect-ratio: 3/4;
        // background-color: $van-cleef-50;
        // width: 20vh;
        // width: 140px;
        width: 180px;
        overflow: hidden;
        flex-shrink: 0;
        position: relative;

        .profile-image {
          object-position: top;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        @media (max-width: 767px) {
          width: 100%;
          height: 100%;
        }
      }

      .profile-details {
        display: block;
        padding: 10px;
        @media (max-width: 767px) {
          padding: 30px 20px 30px;
        }

        @media (max-width: 767px) {
          position: absolute;
          bottom: 0%;
          left: 0%;
          width: 100%;

          background-image: linear-gradient(
            359.85deg,
            rgba(0, 0, 0, 0.8) 52.56%,
            rgba(0, 0, 0, 0.8) 59.83%,
            transparent 101.81%
          );
        }

        .profile-details-wrapper {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .profile-details-link {
            text-decoration: none;

            .profile-personal-details {
              display: flex;
              flex-direction: column;
              gap: 5px;

              @media (max-width: 767px) {
                gap: 10px;
              }

              .profile-dob {
                font-size: 12px;
                line-height: 14px;
                font-weight: 400;
                color: $van-cleef-950;

                @media (max-width: 767px) {
                  font-size: 14px;
                  line-height: 16px;
                  color: $van-cleef-50;
                }
              }
              .profile-name {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                font-family: $Lato;
                color: $van-cleef-950;
                white-space: normal;
                -webkit-line-clamp: 1;
                min-height: 24px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow-y: hidden;
                transition: 0.3s;

                @media (max-width: 767px) {
                  font-size: 22px;
                  line-height: 26px;
                  min-height: 26px;
                  color: $van-cleef-50;
                }
              }
              .profile-search-card {
                display: flex;
                flex-direction: row;

                li {
                  padding-left: 15px;
                  position: relative;
                  font-size: 14px;
                  line-height: 16px;
                  font-weight: 500;
                  color: $van-cleef-950;
                  white-space: normal;
                  -webkit-line-clamp: 1;
                  min-height: 16px;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  overflow-y: hidden;

                  @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 18px;
                    min-height: 18px;
                    color: $van-cleef-50;
                  }

                  &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 5px;
                    background-color: $van-cleef-300;
                    left: 5px;
                    top: 6px;

                    @media (max-width: 767px) {
                      top: 7px;
                    }
                  }
                }
              }

              .profile-occupation-wrapper {
                display: flex;
                align-items: start;
                gap: 5px;
                flex-direction: column;
                @media (max-width: 767px) {
                  gap: 15px;
                }
                .icon-box {
                  width: 18px;
                  height: 18px;
                  justify-content: center;
                  align-items: center;
                  display: flex;
                  @media (max-width: 767px) {
                    display: none;
                  }
                  img {
                    width: 14px;
                    height: auto;
                  }
                }
                .occupation,
                .marital-status,
                .education-degree,
                .income {
                  font-size: 12px;
                  line-height: 14px;
                  font-weight: 400;
                  color: $van-cleef-950;
                  white-space: normal;
                  -webkit-line-clamp: 1;
                  min-height: 14px;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  overflow-y: hidden;

                  @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 18px;
                    min-height: 18px;
                    color: $van-cleef-50;
                  }
                }
              }
            }
          }

          .profile-nav-wrapper {
            ul {
              display: flex;
              flex-direction: row;
              gap: 10px;

              li {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $van-cleef-100;
                transition: all 0.25s;

                &:hover {
                  background-color: $van-cleef-500;
                  transform: translate(0, -2px);
                }

                img {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
      }

      &:hover {
        border: 1px solid $van-cleef-400;
        cursor: pointer;

        &.profile-list-item {
          .profile-details {
            .profile-details-wrapper {
              .profile-details-link {
                .profile-personal-details {
                  .profile-name {
                    color: $van-cleef-600;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.quick-match-popup {
  .modal-dialog {
    max-width: 650px;
  }
  .modal-content {
    .modal-body {
      position: relative;
      .close-icon {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: $white-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        img {
          width: 20px;
          height: 20px;
        }
      }

      .profile-match-wrapper-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .profile-match-details {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 10px;

          @media (max-width: 767px) {
            flex-direction: column;
          }

          .profile-details {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;

            .user-name {
              font-size: 12px;
              line-height: 14px;
              font-weight: 500;
              color: $van-cleef-950;
              white-space: normal;
              -webkit-line-clamp: 1;
              min-height: 14px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow-y: hidden;
            }

            .user-profile-img-wrapper {
              aspect-ratio: 1/1;
              width: 10vh;
              overflow: hidden;
              border-radius: 100%;

              .user-profile-img {
                object-position: top;
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
          }

          .horizontal-line {
            background-color: $van-cleef-600;
            height: 1px;
            width: 50px;
            margin-top: 30px;

            @media (max-width: 767px) {
              // display: none;
              margin-top: 0px;
              width: 1px;
              height: 20px;
            }
          }

          .profile-match-result-content {
            padding: 10px;
            background-color: $van-cleef-50;
            border-radius: 10px;
            text-align: center;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: $van-cleef-950;
            margin-top: 30px;

            @media (max-width: 767px) {
              // display: none;
              margin-top: 0px;
            }
          }
        }

        .content {
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
          color: $van-cleef-950;
          text-align: center;
        }
      }
    }
  }
}

.flter-popup {
  .modal-dialog {
    // max-width: 650px;
    // max-height: 300px;
  }
  .modal-content {
    .modal-body {
      position: relative;
      min-height: 280px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .close-icon {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: $white-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        img {
          width: 20px;
          height: 20px;
        }
      }

      .popup-title {
        font-size: 16px;
        line-height: 18px;
        color: $van-cleef-950;
        font-weight: 500;
        position: relative;
        padding: 6px 2px 6px;
        border-bottom: 1px solid rgba(152, 152, 152, 0.2);

        &::after {
          content: "";
          width: 40px;
          height: 1px;
          display: inline-block;
          background: $van-cleef-600;
          margin: 4px 5px 4px;
        }
      }

      .filter-select-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        align-items: center;

        .filter-select-block {
          flex: 1;
        }
      }
    }
  }

  .modal-footer {
    border-top: none;
    padding: 16px;
  }
}

.gallery-popup,
.alert-gallery-popup {
  .modal-dialog {
    // max-width: 650px;
    // max-height: 300px;
  }
  .modal-content {
    .modal-body {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .close-icon {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: $white-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        img {
          width: 20px;
          height: 20px;
        }
      }

      .popup-title {
        font-size: 16px;
        line-height: 18px;
        color: $van-cleef-950;
        font-weight: 500;
        position: relative;
        padding: 6px 2px 6px;
        border-bottom: 1px solid rgba(152, 152, 152, 0.2);

        &::after {
          content: "";
          width: 40px;
          height: 1px;
          display: inline-block;
          background: $van-cleef-600;
          margin: 4px 5px 4px;
        }
      }

      .filter-select-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        align-items: center;

        .filter-select-block {
          flex: 1;
        }
      }
    }
  }

  .modal-footer {
    border-top: none;
    padding: 16px;
  }
}

.section-top-bar {
  z-index: 1;
  background-color: #f6f7fa;
  padding: 8px 0px 10px;
  border-bottom: 1px solid rgba(152, 152, 152, 0.2);
  width: 100%;

  .section-title {
    font-size: 18px;
    line-height: 20px;
    color: $van-cleef-950;
    font-weight: 700;
    position: relative;
    padding-left: 2px;
    &::after {
      content: "";
      width: 40px;
      height: 1px;
      display: inline-block;
      background: $van-cleef-600;
      margin: 4px 5px 4px;
    }
  }
}

.section-top-tab-bar {
  z-index: 1;
  background-color: #f6f7fa;
  width: 100%;

  .tab-wrapper {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 5px;

    &::-webkit-scrollbar {
      width: 1px;
      border-radius: 1px;
      height: 1px;
    }

    &::-webkit-scrollbar-track {
      background: #e8e8e8;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $van-cleef-600;
      border-radius: 1px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $van-cleef-600;
    }

    .tab-nav {
      background-color: transparent;
      color: $van-cleef-600;
      text-transform: capitalize;
      cursor: pointer;
      border-radius: 30px;
      padding: 4px 20px;
      text-decoration: none;
      font-family: $Lato;
      font-weight: 500;
      font-size: 12px;
      transition: 0.3s;
      text-transform: capitalize;
      border: 1px solid $van-cleef-600;

      &:hover,
      &:focus {
        background-color: $van-cleef-600;
        color: $white-color;
      }
      &.active {
        background-color: $van-cleef-600;
        color: $white-color;
      }
    }
  }
}

.recent-view-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .recent-view-page-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    grid-auto-rows: minmax(60px, auto);

    @media (max-width: 1599px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1199px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .similar-profiles-section {
      cursor: pointer;
      text-decoration: none;
      padding: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 5px;

      &:hover {
        .similar-profile-text {
          span.profile-name {
            color: $van-cleef-600;
          }
        }
      }

      .similar-profile-section {
        box-shadow: $box-shadow;
        width: 80px;
        height: 80px;
        border-radius: 5px;
        overflow: hidden;
        .similar-profile-img {
          width: auto;
          height: 80px;
        }
      }
      .similar-profile-text {
        font-size: 14px;
        line-height: 16px;
        // color: $van-cleef-950;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        gap: 4px;

        span.profile-name {
          color: $van-cleef-950;
          font-weight: 500;
          display: block;
          white-space: normal;
          font-size: 16px;
          line-height: 18px;
          -webkit-line-clamp: 1;
          min-height: 18px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow-y: hidden;
          transition: 0.3s;
        }
        span.profile-age {
          font-size: 14px;
          line-height: 16px;
          color: $van-cleef-950;
          font-weight: 400;
          display: block;
        }
        span.profile-location {
          font-size: 12px;
          line-height: 14px;
          color: $van-cleef-950;
          font-weight: 300;
          display: block;
        }
      }
    }
  }
}

.update-view-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .update-view-page-section-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    grid-auto-rows: minmax(60px, auto);

    @media (max-width: 1199px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .update-section {
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    background-color: $van-cleef-50;
    .update-section-img {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-color: $van-cleef-600;
      .update-img {
        width: auto;
        height: 30px;
      }
    }
    .update-content {
      font-size: 14px;
      line-height: 16px;
      color: $van-cleef-950;
      font-weight: 400;
      gap: 4px;
    }
  }
}

.page-title {
  color: $van-cleef-950;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.not-found-wrapper {
  width: 100%;
  margin-top: 70px;
  height: calc(100vh - 70px) !important;
  padding-top: 30px;
}

.profile-view-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  background-color: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin-top: 0.5px;

  .profile-gallery-wrapper {
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.7);
      z-index: 1;
    }

    .profile-image {
      position: relative;
      z-index: 2;
      aspect-ratio: 1/1;
      height: 450px;
      width: auto;
      margin: 0 auto;
    }
  }

  .profile-data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding: 20px 0px 20px;
    width: 100%;
    background-image: linear-gradient(
      0deg,
      #000,
      rgba(0, 0, 0, 0.8) 0,
      hsla(0, 0%, 40%, 0)
    );

    .profile-id {
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: $van-cleef-50;
    }
    .profile-dob {
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: $van-cleef-50;
    }
    .profile-name {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      font-family: $Lato;
      color: $white-color;
    }
  }
}

@media (max-width: 991px) {
  .login-section {
    #bg-video {
      display: none;
    }

    .video-overlay {
      .video-overlay-content {
        height: 100%;
        width: 100%;
        // padding: 30px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }

        .logo-wrapper {
          width: 180px;
          height: 60px;
        }

        .title {
          font-size: 28px;
          line-height: 30px;
        }

        .subtitle {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .login-section {
    .video-overlay {
      .video-overlay-content {
        padding: 20px;
      }
    }
  }
}

.container {
  max-width: 1599px;
  @media (max-width: 767px) {
    max-width: 100%;
  }
}
